.chatbox {
  border-radius: 10px;
  padding: 10px 15px 9px 15px;
  margin: 1px 15px 1px 15px;
  max-width: 260px;
  word-wrap: break-word;
}

.container {
  display: flex;
}

.me {
  flex-direction: row-reverse;
}

.timing {
  font-size: 11px;
  bottom: 6px;
  right: 10px;
  position: absolute;
}

.message {
  margin-top: 20px;
  font-size: 20px;
  margin-right: 35px;
}

.me.chatbox {
  background-color: #005c4b;
}

.you.chatbox {
  background-color: #20333b;
}

.type-field {
  position: fixed;
  bottom: 0;
}

.chat-container {
  height: 76vh;
  overflow-y: scroll;
  color: azure;
  margin-top: 5px;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  background-color: #0f181e;
}

.selected {
  background-color: rgb(80, 179, 141);
}
